.toPay{
    float: right;
}

.taxes{
    text-align: end;
}

.card-title{
    color: white;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.card{
    border-top-left-radius: 1.7em;
    border-top-right-radius: 1.7em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}